<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
                           integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Flask Solr Test</title>
  </head>
  <body>
    <div class="container">
      <h1>Flask Solr Test</h1>
      <h2>Please put your search term inside " " (double quotes)!</h2>
      <form class="form-inline" action="/" method="post">
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" name="searchTerm" value="" placeholder="Enter search term(s)">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </form>

      <div class="numresults" style="font-weight: bold;">
        {% if numresults is not none %}
        Number of Results:
        <span style="margin-left: 12px;">{{ numresults }}</span>
        {% endif %}
      </div>

      {% if results and results|length > 0 %}
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>ProgrammeTitle</th>
              <th>SeriesTitle</th>
              <th>Genre</th>
              <th>Season</th>
            </tr>
          </thead>
          <tbody>
            {% for document in results %}
              <tr>
                <td>{{ document['id'] }}</td>
                <td>{% if document['programmeProperties_programmeTitle_s'] %}{{ document['programmeProperties_programmeTitle_s'][0] }}{% endif %}</td>
                <td>{% if document['programmeProperties_seriesTitle_s']%}{{ document['programmeProperties_seriesTitle_s'][0] }}{% endif %}</td>
                <td>{% if document['programmeProperties_genre_s']%}{{ document['programmeProperties_genre_s'][0] }}{% endif %}</td>
                <td>{% if document['programmeProperties_season_s']%}{{ document['programmeProperties_season_s'][0] }}{% endif %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </body>
</html>
